* {
  font-family: "OCR A Std", monospace;
  color: white;
  background: #181818;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

hr {
  position: absolute;
  top: 45px;
  left: 0px;
  width: 100%;
  background: linear-gradient(to right, orange, magenta, cyan);
  border: none;
  height: 3px;
  margin: 0px;
  padding: 0px;
}

p {
  float: left;
  line-height: 25px;
  margin: 0px;
}

a {
  text-decoration: none;
  line-height: 30px;
}

.a {
  display: block;
  padding: 8px;
  background-color: black;
}

.a:hover {
  background-color: #292929;
}

.nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  background-color: black;
  margin: 0px;
  padding: 0px;
  width: 100vw;
}

#title {
  text-align: center;
  border-bottom: 3px linear-gradient(to right, orange, magenta, cyan);
}

#game {
  text-align: center;
}

#slider {
  width: 250px;
  margin-bottom: 25px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background: linear-gradient(to right, orange, magenta, cyan);
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

input[value*="Confirm"] {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px 15px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(45deg, cyan, magenta) 1;
  transition: filter 0.5s;
}

input[value*="Confirm"]:hover {
  filter: brightness(1.5);
}

input[value*="New"] {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px 26px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(45deg, cyan, magenta) 1;
  transition: filter 0.5s;
}

input[value*="New"]:hover {
  filter: brightness(1.5);
}

#ranks {
  text-align: center;
}

#f {
  color: maroon;
  text-shadow: 0 0 1px white;
  display: inline-block;
  margin-right: 44px;
}

#e {
  color: red;
  text-shadow: 0 0 1px white;
  display: inline-block;
  margin-right: 44px;
}

#d {
  color: orange;
  text-shadow: 0 0 1px white;
  display: inline-block;
  margin-right: 44px;
}

#c {
  color: yellow;
  text-shadow: 0 0 1px white;
  display: inline-block;
  margin-right: 44px;
}

#b {
  color: #00FF00;
  text-shadow: 0 0 1px white;
  display: inline-block;
  margin-right: 44px;
}

#a {
  color: cyan;
  text-shadow: 0 0 1px white;
  display: inline-block;
  margin-right: 44px;
}

#s {
  color: #8000FF;
  text-shadow: 0 0 1px white;
  display: inline-block;
  margin-right: 44px;
}

#plus {
  color: magenta;
  text-shadow: 0 0 1px white;
  display: inline-block;
  margin-right: 44px;
}

#resultbar {
  text-align: center;
  border: 3px solid white;
  border-radius: 15px;
  height: 20px;
  width: 500px;
  background-image: linear-gradient(to right, maroon, red, orange, yellow, #00FF00, cyan, #8800FF, magenta, pink);
  margin: auto;
}

#thumb {
  color: transparent black;
  position: relative;
  top: -22px;
  left: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  border: 0px solid black;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  background: white;
  z-index: 1;
  margin: auto;
}

b {
	background-color: black;
}

b:hover {
	background-color: #292929;
}
